<div class="editFormateurs">
    <!-- addFormateurs content -->
    <div class="editFormateurs__content">
        <!-- addFormateurs from -->
        <h5 mat-dialog-title>Edit Formateur</h5>

        <form #formateurItemForm="ngForm" (ngSubmit)="editFormateur(formateurItemForm.value)">
            <table>

                <tr>
                    <td><label for="nom">Nom </label></td>
                    <td><input type="text" name="nom" id="nom" ngModel required></td>
                </tr>
                <tr>
                    <td><label for="prenom">Prenom </label></td>
                    <td><input type="text" name="prenom" id="prenom" ngModel required></td>
                </tr>
                <tr>
                    <td><label for="adresse">Adresse</label></td>
                    <td><input type="text" name="adresse" id="adresse" ngModel required></td>
                </tr>
                <tr>
                    <td> <label for="email">Email</label></td>
                    <td> <input type="email" name="email" id="email" ngModel required></td>
                </tr>
                <tr>
                    <td> <label for="domaineExp">Domaine d'expertise</label></td>
                    <td> <input type="text" name="domaineExp" id="domaineExp" ngModel required></td>
                </tr>
            </table>
            <button type="submit" [disabled]="!formateurItemForm.form.valid" (click)=" onNoClick()">Save</button>
        </form>
    </div>
</div>