@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.row {
  display: flex;
}

.col {
  padding: 10px;
}

.formateurs__content__actualiser img {
  height: 50px;
  cursor: pointer;
}

.formateurs__content__ajouter img {
  height: 48px;
  cursor: pointer;
}

/*******Formateurs table***********/
#customers {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background: linear-gradient(45deg, #00a576, #00ffd3) !important;
  color: white;
}

.table {
  padding: 11px;
}

.table__data {
  padding: 26px;

}

.table__button {
  display: flex;
  text-align: right;
  flex-direction: row-reverse;
  position: absolute;
  left: 96%;
  right: 42%;

}

.table__button__delete img {
  height: 44px;
  cursor: pointer;
}

.table__button__modifier img {
  height: 40px;
  cursor: pointer;
}

.table__button__modifier img:hover {
  content: 'Text affiche lors du hover';
}
