
.coop-app {
  display: flex;
  
}

.cp-content-box__content {
  width: calc(100% - 39px);
  padding: 20px;
  height: calc(100vh - 90px);
  overflow-y: auto;
  background: white;


}

.full-content {
  width: 100%;
  background-color: #6f004404;

}

